<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<h3>Order Form </h3>

<form autocomplete="off"
      th:action="@{/processAdditional}"
      th:object="${pizza}"
      method="post">

    <input type="hidden" th:field="*{id}"/>

    <input type="hidden" th:field="*{order}">

    Select dough type:
    <div th:each="dough : ${doughs}">
        <input type="checkbox" id="doughSelection1" th:value="${dough.id}" th:id="${dough.id}"
               th:field="*{ingredients}" name="dough"> <label for="doughSelection1">[[${dough.name}]]</label>
    </div>

    Select sauce type:
    <div th:each="sauce : ${sauces}">
        <input type="checkbox" id="sauce" th:value="${sauce.id}" th:id="${sauce.id}"
               th:field="*{ingredients}" name="sauce"><label for="sauce">[[${sauce.name}]]</label>
    </div>

    Check Protein type:
    <div th:each="protein : ${proteins}">
        <input type="checkbox" id="protein" th:value="${protein.id}"
               th:field="*{ingredients}"><label for="protein">[[${protein.name}]]</label>
    </div>

    Check Veggie type:
    <div th:each="veggie : ${veggies}">
        <input type="checkbox" th:id="${veggie.id}" th:value="${veggie.id}"
               th:field="*{ingredients}"><label th:for="${veggie.id}">[[${veggie.name}]]</label>
    </div>

    Check toppings type:
    <div th:each="topping : ${toppings}">
        <input type="checkbox" id="topping" th:value="${topping.id}"
               th:field="*{ingredients}"><label for="topping">[[${topping.name}]]</label>
    </div>
    <!--    <input type="radio" id="doughSelection2" name="Neapolitan Style" th:value="${ingredient.id}"-->
    <!--           th:field="*{ingredients}"><label for="doughSelection2">Neapolitan Style</label>-->


    <input type="submit" value="Order">
</form>


</body>
</html>