<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <div th:replace="base :: headerfg"></div>
    <link rel="stylesheet" th:href="@{/styles/frontstyles.css}">
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
<div th:replace="base :: navlinksfg"></div>
<div class="bg">

<div sec:authorize="isAuthenticated()">
    Welcome <span sec:authentication="name"></span>!
</div>
<div sec:authorize="!isAuthenticated()">
    Welcome guest!
</div>
<div>
    <table cellspacing="15" cellpadding="15"class="center">
        <tr>

            <th><a th:href="@{/login}"><h4 h4 style="color:white;">LOGIN</h4></a></th>

            <th><a th:href="@{/register}"><h4 style="color:white;">REGISTER</h4></a></th>

            <!--Link to place order-->
            <th><a th:href="@{/order}"><h4 h4 style="color:white;">CLICK TO PLACE ORDER</h4></a></th>
            <!--Link to cart-->

            <th><a th:href="@{/cart}"><h4 h4 style="color:white;">MY CART</h4></a></th>
        </tr>
    </table>
    <div sec:authorize="isAuthenticated()">
        <h4 style="color: white"; font-family="">  Welcome <span sec:authentication="name"></span>!</h4>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <h4 style="color: white">Welcome guest!</h4>
</div>
</div>
<br/>
<a th:href="@{/login}">Login</a>
<br/>
<a th:href="@{/register}">Register</a>
<br/>
<!--Link to place order-->
<a th:href="@{/order}">Click to place Order</a>
<!--Link to cart-->
<br/>
<a th:href="@{/cart}">My Cart</a>

<div th:replace="base :: footerfg"></div>

</body>
</html>