<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <div th:replace="base :: headerfg"></div>
</head>
<body>
<div th:replace="base :: navlinksfg"></div>
<h4>Homepage Placeholder</h4>


<div sec:authorize="isAuthenticated()">
    Welcome <span sec:authentication="name"></span>!
</div>
<div sec:authorize="!isAuthenticated()">
    Welcome guest!
</div>

<br/>
<a th:href="@{/login}">Login</a>
<br/>
<a th:href="@{/register}">Register</a>
<br/>
<!--Link to place order-->
<a th:href="@{/order}">Click to place Order</a>
<!--Link to cart-->
<br/>
<a th:href="@{/cart}">My Cart</a>

<div th:replace="base :: footerfg"></div>
</body>
</html>