
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body{
            text-align: center;
        }

    </style>
    <link rel="stylesheet" th:href="@{/styles/frontstyles.css}">

</head>
<body>
<div class="bg"></div>
<div class="box">
<h1>Login</h1>

<div th:if="${param.error}">
    Invalid username or password
</div>

<div th:if="${param.logout}">
    You have been successfully logged out
</div>

<form th:action="@{/login}" method="post">

    <div><label>
        Username: <input type="text" name="username"/>
    </label></div>

    <div><label>
        Password: <input type="password" name="password"/>
    </label></div>

    <div>
        <input type="submit" value="Sign in"/>
    </div>

    <br>
    <br>

    <a th:href="@{/}">Home</a>


</form>
</div>
</body>
</html>
