<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top 3 Toppings</title>
    <div th:replace="base :: headerfg"></div>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<div th:replace="base :: navlinksfg"></div>
<h2 class="h2">Top Three Toppings</h2>
<div class="box2">

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Toppings Name</th>
            <th scope="col">Category</th>
            <th scope="col">Tally</th>

        </tr>
        </thead>
        <tbody>
<!--        <tr>-->
<!--            <th scope="row">1</th>-->
<!--            <td>Chicken</td>-->
<!--            <td>Meat</td>-->
<!--            <td>1</td>-->
<!--        </tr>-->
        <tr th:each="topping : ${toppings}">
            <th scope="row"></th>
            <td>[[${topping.name}]]</td>
            <td>[[${topping.type}]]</td>
            <td>[[${topping.tally}]]</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:each="topping : ${toppings}">
    <p>[[${topping.name}]] used [[${topping.tally}]] </p>
</div>

<div th:replace="base :: footerfg"></div>
</body>
</html>