<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Total Sales</title>
    <div th:replace="base :: headerfg"></div>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<div th:replace="base :: navlinksfg"></div>

<h2 class="h2">Total Sales</h2><br/>

<p class="total">Total Sales amount: $</p>

<div class="box2">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Total</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.total}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="base :: footerfg"></div>
</body>
</html>