@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Felipa&family=Lobster&display=swap');
.font{
    font-family: 'Felipa', cursive;
    color: white;
    font-size: 60px;
}
.font2{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 200px;
}

body,html{

    height: 100%;
    margin: 0;
}

.bg {


  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/backgroundpizza.jpg");
    opacity: 5;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    background: burlywood;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
}

.center {
    margin-left: auto;
    margin-right: auto;
}


.box7
{
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;

    width: 1000px;
    padding: 20px;
    box-sizing: border-box;
    background: burlywood;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
}
.card-img {
    width: 400px;
    height: 400px;
}
.box.imgBx
{
    width: 400px;
    height: 400px;
}
.content {
    padding-left: 20px;
    text-align: center;

}
.box3
{
    min-height: 300px;
    margin: auto;
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    background: burlywood;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}